.homePage{
    margin-top: 30px;
    padding: 0;
    width: 1080px;
    max-width: 1200px;
    border: 1px solid gray;
    position: relative;
}
.navbar-homepage{
    display: flex;
    justify-content: space-between;
}
.logo-nav{
    width: 80px;
    height: 80px;
    position: relative;
}
.logo-nav img{
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in;
}
.logo-nav img:hover{
    transform: rotate(-10deg);
}
.right-nav-homepage{
    display: flex;
    position: relative;
}
.nav-homepage{
    width: 100px;
    height: 35px;
    border-radius: 50px;
}
.profile-link{
    background-color: aqua;
}
.nav-homepage a{
    border-radius: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
    text-decoration: none;
    font-size: 15px;
    font-family: sans-serif;
}
.nav-homepage a:hover{
    background-color: white;
}
/* end nav */
.landing-page{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.leftHome{
    width: 40%;
}
.rightHome{
    width: 60%;
    text-align: center;
    position: relative;
}
.rightHome img{
    width: 80%;
    height: 85%;
}
.book-in-laptop{
    width: 140px;
    height: 100px;
    background-color: rebeccapurple;
    position: absolute;
    left: 45%;
    top: 26%;
    /* transform: skew(20deg);
    transform: rotate(20deg);
    cursor: pointer; */
}
.book-in-laptop img{
    transform: rotateX(10deg);
}
.cube {
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(-8deg) rotateY(-20deg) rotateZ(3deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
}
.cube-wrap {
    perspective: 1000px;
    perspective-origin: 50% 50%;
}