/* ==================Underline on hover */

.underlineStyle{
    
    display: inline;
    position: relative;
    color: black;
    text-decoration: none;
}
.underlineStyle::before{
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: rgb(138, 135, 135);
    transition: width 0.3s ease;
}
.underlineStyle:hover::before{
    width: 100%;
}

/* ====== */
body{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #e1dcc5;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}
.container{
    width: 100%;
    height: 2000px;
    position: relative;
    padding: 0;
}
.content-main{
    max-width:1200px;
    margin: auto;
    width: 100%;
    
    border: 1px solid rgb(200,200,200);
    border-radius: 10px;
    /* background-color: #fff; */
    margin-top: 50px;
    position: relative;
}
.item-type{
    margin-top: -20px;
    position: relative;
    /* background-color: #fff; */
    outline: none;
}
.item-branch{
    background-color: #cecdca;
    padding:12px 0 10px 20px;
    width: 100%;
    font-family: sans-serif;

    font-size: 25px;
    font-family: sans-serif;
}
.item-branch a{
    color: blue;
    text-decoration: none;
}
.items-book{
    padding: 30px 0;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: transform 0.3s ease-in-out;
}
.slide-content{
    padding: 40px 10px;
    margin:0 50px;
    /* background: red; */
    overflow: hidden;
}
.items-book .items{
    padding-left: 0;
}
.items .picBook{
    width: 150px;
    height: 220px;
    position: relative;
    border-radius: 5px;
    /* overflow: hidden; */
}
.items img{
    width: 100%;
    height: 90%;
    object-fit:fill;
    border-radius: 5px;
}
.itemBtn{
    margin-top: 10px;
    font-size: 18px;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    background-color: rgb(52, 86, 139);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease;
}
.itemBtn:hover{
    background-color: rgb(28, 50, 85);
}
.itemBtn a{
    color: 	rgb(240,240,240); 
    font-family: sans-serif;
    text-decoration: none;   
}

.btn-change{
    width:100%;
    position: absolute;
    left: 0;
    top: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin: 0 10px; */
}
.previous-btn,
.next-btn{
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin: 0 10px;
    background:none;
    color: rgb(108, 97, 255);
    cursor: pointer;
    border: 0;
}
.previous-btn:hover,
.next-btn:hover{
    border: 0;
    color: blue;
}
.previous-btn i,
.next-btn i{
    font-size: 30px;
    
}



/*==============Feature book */
.featuredEbook{
    position: relative;
    margin-top: 120px;
}
.title{
    
    background-color: #cecdca;
    padding:12px 0;
    width: 100%;
    font-family: sans-serif;

    font-size: 25px;
    font-family: sans-serif;
}
.title a{
    margin-left: 20px;
    text-decoration: none;
    transition: all 0.5s ease;
    font-weight: bold;
}
.featured-main{
    width: 50%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px 20px;
}
.item-featured{
    /* border: 1px solid gray; */
    width: 100%;
    padding: 30px 0;
    /* background-color: gray; */
    border: 5px;
    transition: all 0.3s ease;
}
.item-featured:hover{
    background-color: rgb(207, 204, 204);
}
.item-featured:hover .item-before-hover img{
    transform: scale(1.7);

}
.item-before-hover a{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-decoration: none;
    font-family: Arial;
}
.item-before-hover img{
    width: 110px;
    height: 160px;
    object-fit:contain;
    transition: all 0.5s ease;
}
.detail-info{
    margin-left: 30px;
    font-size: 16px;
    transition: all 0.3s ease;
}
.detail-info{
    position: relative;
    color: gray;
}
.detail-info h3{
    color: 	rgb(72,72,72);
}
.detail-info span{
    font-size: 14px;
}
.detail-info p{
    /* position: absolute;
    top: 120%;
    left: 0; */
    font-size: 13px;
}
/* ===right featured */
.rightFeatured{
    position: absolute;
    right: 0;
    top: 0;
    width: 400px;
    height: 500px;
    /* border: 1px solid gray; */
}
.title-rightFea{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.title-rightFea{
    padding: 15px 0;
}
.title-rightFea a{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}
.underlineStyle{
    color: blue;
}
.underlineStyle-highlight{
    color: rgb(42, 170, 59);
}
/* ====right featured */
.right-feature-main{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
}
.item-right-feature{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 30px 0;
}
.item-right-feature a{
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
}
.greate-book-title{
    color: blue;
}
.right-feature-img{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}
.img-right-feature{
    width: 70px;
    height: 110px;
    position: relative;
    margin: 10px 40px 10px 0;
}
.img-right-feature img{
    width: 100%;
    height: 100%;
    object-fit: fill;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1000;
}
.img-right-feature img:hover{
    transform: scale(2);
    z-index: 1000;
}
/* lastest arrival */
/* .lastestArrivals{
    position: static;
} */
.title-lastestArr{
    margin: 50px 0;
}
.content-lastestArrivals{
    /* height: 100px; */
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-around;
    column-gap: 10px;
    row-gap: 0px;
    flex-wrap: wrap;
}